<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.xzf.dao.VideoMapper">


    <sql id="querySql">
        c.cate_name cateName,
        v.id id,v.title videoTitle,v.brief description,v.path path,v.cover cover,v.publish_date uploadTime,
        u.head_img headImg
    </sql>

    <sql id="searchSql">
        c.cate_name cateName, c.id categoryId,
        v.id id,v.title videoTitle,v.brief description,v.path path,v.cover cover,v.publish_date uploadTime,
        u.username userName,u.id userId
    </sql>

    <!--查询视频信息按时间排序-类别表 视频表 用户表  -->
    <select id="queryVideoVo" resultType="com.baizhi.xzf.vo.VideoVo">
        select <include refid="querySql" />
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        order by v.publish_date desc
    </select>
    <!--模糊搜索视频信息按时间排序-类别表 视频表 用户表  -->
    <select id="queryByLikeVideoName" resultType="com.baizhi.xzf.vo.VideoSearchVo" parameterType="String">
        select <include refid="searchSql" />
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        where v.title like    concat('%',#{content},'%')
        order by v.publish_date desc

    </select>
</mapper>